{# Inclusions des zones #}

{% if page.zones.count() > 0 %}

    <div class="zones">
        {% for zone in page.zones | filter (zone => zone.active and zone.remove == 0 ) %}
            {% if file_exist('templates/zone/'~zone.type.name~'.html.twig') %}
                {{  include('zone/'~(zone.type.name | lower )~'.html.twig') }}
            {% else %}
                {{ 'ERROR : '~'zone/'~zone.type.name~'.html.twig  --> Nexiste pas ' }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{# FIN d'inclusion des zones #}
